.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

.instruction-section{
    height: 60px;
    width: 300px;
    color: rgb(17, 117, 17);
}