*{
    margin: 0px;
    padding: 0px;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
   flex-direction: column;
   margin-top: 10px;
}


#btn{
    height: 30px;
    /* padding: 5px; */
    margin: auto;
    /* padding: auto; */
}

#changeBckg{
    height: 70%;
    width: 70%;
    border: 1px solid black;
    align-content: center;
    padding: 35px;
    font-size: 14px;
}